html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.header
{
	color: rgb(251, 0, 163);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
}
.header img
{
	width: 80px;
    margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
	color: rgb(3, 236, 248);
}

.room_name
{
	cursor:crosshair;
	font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}


#logout
{
	font-size: 20px; float: right;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#output
{
	padding: 10px; width:80%;background: rgba(4, 230, 178, 0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(236, 4, 201);
    font-size: 20px;
    
}


.input_div_message_page
{
	position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}